*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
  height: 100vh;
  background: url(photo2.png)no-repeat center center fixed;
  background-size: cover;
  width: 100%;
 
 
}
.navbar{
    
    width: 125px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    transition: width 0.20s;
    

}

 .img1{
 display: flex;
 align-items: center;
 justify-content: center;
 justify-content: space-between;
 width: 100%;
 font-size: 12px;
 padding: 10px;
 border-radius: 8px;
 margin-left: auto;
 margin-right: auto;
 margin-left: 18px;
  overflow: hidden; 
 
}
.img1 div{
     display: none; 
}
.img1 h2{
  font-family: monospace ;
   font-weight: 600px;
  white-space: nowrap;
  color: aqua;
}
img{
    border-radius: 45%;
    width: 60px;
    height: 60px;
    margin: auto;
}

ul{
    list-style: none;
    padding: 0 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
ul li{
    margin: 30px 0;
    font-size: 18px;
    margin-left: 30px;
   justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 25px;
    color: aliceblue;
}
ul li i{
    width: 30px;
  
    font-size: 25px;
    margin-right: 25px;
    color: black;
   
}
.img1 p{
    
    font-size: 15px;
    margin-top: 5px;
    font-family: fantasy;
    color: red;
    
}
.navbar:hover{
    width: 250px;
    cursor: pointer;
}
.navbar:hover .img1 div{
     display: block; 
}
.navbar:hover .img1 {
  width: 95%;
  cursor: pointer;
   background: rgba(255, 255, 255, 0.2);
   backdrop-filter: blur(5px);
}

